<%= f.text_area :content, :style=>'width:98%', :cols=>72, :rows=>5 %>
<%= f.text_field :title, :style=>'width:98%', :size=>75, :label=>'Source' %>
<%= f.text_field :slug, :style=>'width:98%', :size=>75 %>
<%= f.text_field :url, :style=>'width:98%', :size=>75, :label=>'URL' %>
