<h2 class="link">A quote from <%= link_to_if(entry.url, entry.title, entry.url) %>:</h2>
<p class="quote">
    <span class="content">
        <span class="lquote">&#8220;</span>
        <%= entry.content %>
        <span class="rquote">&#8221;</span>
    </span>
</p>
