<p class="video-player">
    <object width="480" height="385">
        <param name="movie" value="http://www.youtube.com/v/<%= entry.video_id %>&hl=en_GB&fs=1&"></param>
        <param name="allowFullScreen" value="true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed src="http://www.youtube.com/v/<%= entry.video_id %>&hl=en_GB&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed>
    </object>
</p>
