<%= hidden_field_tag 'product[id]', entry.product.id %>

<%= f.text_field :title, :style=>'width:98%', :size=>75 %>
<%= f.text_field :slug, :style=>'width:98%', :size=>75 %>

<div class="f-right" style="width:130px">
	<%= image_tag(entry.product.image, :width=>125, :class=>'border') %>
</div>

<%= f.text_area :content, :style=>'width:76%', :cols=>72, :rows=>30 %>


