site_secret: ************
pygmentize_path: /usr/local/bin/pygmentize

features_enabled:
    comments: true
    emails: true

gmail:
    username: username
    password: password

twitter:
  username: username

delicious:
    username: username
    password: password

amazon:
    access_key: ********************
    secret_key: ****************************************
    associate_id: *************
