site_secret: ************

features_enabled:
    comments: true
    emails: true

gmail:
    username: username
    password: password

twitter:
	oauth:
	    consumer_key: ********************
	    consumer_secret: *******************************************
	    access_token: **************************************************
	    access_secret: ******************************************

delicious:
    username: username
    password: password

amazon:
    access_key: ********************
    secret_key: ****************************************
    associate_id: *************
