
<item>
	<title><%=h entry.page_title %></title>
	<link><%= entry_url(entry) %></link>
	<guid><%= entry_url(entry) %></guid>
	<description>
		<%=h link_to(image_tag(entry.product.image, :width=>125, :align=>'right', :hspace=>5), entry.product.associate_url) %>
		<%=h markdown(entry.content) %>
	</description>
	<pubDate><%= entry.created_at.rfc822 %></pubDate>
</item>
