<h2>Page not found</h2>

<div class="section">
    <p>
        You look lost. And whatever you're searching for, it isn't here.<br />
        But maybe you'll have better luck over there. In the sidebar to your right.
    </p>
</div>
<div class="section">
    <style type="text/css">
        #goog-wm ul     { padding:0; margin:0; }
        #goog-wm ul li  { padding:0; margin:0; }
        #goog-wm li.search-goog { display: block; border:1px solid #ddd; background:url(/images/fades/pale.gif) repeat-x top #f2f2f2; margin:1em 0; padding:1em; padding-top:0.5em; }
        #goog-wm-qt     { width:320px; margin-right:10px; margin-top:5px; }
        #goog-wm-sb     { border:1px solid #333; background:url(/images/fades/dark.gif) repeat-x top #333; color:#fff; padding-left:8px; padding-right:8px; }
    </style>
    <script type="text/javascript">
        var GOOG_FIXURL_LANG = 'en';
        var GOOG_FIXURL_SITE = 'http://matt.tarbit.org/';
    </script>
    <script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</div>
