
<h2>Server error</h2>

<div class="section">
	<p>
		OMG! You totally broke it!!! Yeah, don't worry, this happens a lot.<br />
		I'll try some o' the ol' percussive maintenance when I get a moment to spare.
	</p>
	<p>
		In the meantime, maybe hop on back to <a href="/">the homepage</a> and try again from there?
	</p>
</div>
