<h2>Latest entries</h2>
<%= render(:partial=>'partials/entries', :object=>@entries) %>

<div class="hr"><hr /></div>

<p><%= link_to '&larr; Archived entries by month', date_url(:y=>@first_date.year,:m=>@first_date.month) %></p>


<% content_for :sidebar do -%>
	<h2>Where am I?</h2>

	<p>
	The personal site of <%= link_to 'Matthew Tarbit', about_url %>, a seasoned
	web developer holed-up in a hideaway somewhere in the depths of Leeds, England.
	</p>

	<div class="hr"><hr /></div>

	<%= render(:partial=>'partials/reading', :object=>@books) %>
<% end -%>
