<h2>404 not found</h2>

<div class="section">
	<h3>You look lost</h3>
	<p>I'm not sure what you're searching for, but whatever it is, you've come to the wrong place.</p>
	<p>Maybe you'll have better luck over there. In the sidebar. To your right.</p>
</div>
<div class="section">
	<style type="text/css">
		#goog-wm h3.closest-match { }
		#goog-wm h3.closest-match a { }
		#goog-wm h3.other-things b { font-weight:normal; }
		#goog-wm ul { padding:0; margin:0; }
		#goog-wm ul li { padding:0; margin:0; }
		#goog-wm li.search-goog { display: block; border:1px solid #ddd; background:url(/images/fades/pale.gif) repeat-x top #f2f2f2; margin:1em 0; padding:1em; padding-top:0.5em; }
		#goog-wm-qt	{ width:270px; margin-right:10px; margin-top:5px; }
		#goog-wm-sb { border:1px solid #333; background:url(/images/fades/dark.gif) repeat-x top #333; color:#fff; }
	</style>
	<script type="text/javascript">
		var GOOG_FIXURL_LANG = 'en';
		var GOOG_FIXURL_SITE = 'http://matt.tarbit.org/';
	</script>
	<script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</div>